@page "/Product/ProductByCategory" 
@model Rookie.CustomerSite.Pages.Product.ProductByCategoryPageModel 
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "VEGEFOODS";
    var prevDisabled = !Model.PagedResponseVM.HasPreviousPage ? "btn d-flex align-items-center justify-items-center text-primary disabled" : "";
    var nextDisabled = !Model.PagedResponseVM.HasNextPage ? "btn d-flex align-items-center justify-items-center text-primary disabled" : "";
}

<div
  class="hero-wrap hero-bread"
  style="background-image: url('../images/bg_1.jpg');"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">Home</a></span>
          <span>Products</span>
        </p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-5 text-center">
        <ul class="product-category">
          <li>
            <a 
              asp-area=""
              asp-page="/Product/Index"
              asp-for="@Model.ProductNameBinding"
            >
              All
            </a>
          </li>
          @foreach (var item in Model.CategoryVM){
            <li>
              <a
                asp-page="./ProductByCategory"
                asp-route-categoryName="@item.CategoryName"
              >
                @Html.DisplayFor(modelItem => item.CategoryName)
              </a>
            </li>
          }
          <li>
            <form asp-page="/Product/Index" method="get">
              <div class="form-actions no-color">
                <p>
                  <input
                    type="text"
                    asp-for="@Model.ProductNameBinding"
                    placeholder="Find Product"
                  />
                  <input type="submit" class="btn btn-primary" />
                </p>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>

    @await Component.InvokeAsync("ShowProduct", Model.PagedResponseVM.Items);

    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li>
              <a
                class="@prevDisabled"
                asp-area=""
                asp-page="./ProductByCategory"
                asp-route-categoryName="@Model.PagedResponseVM.Search"
                asp-route-pageIndex="@(Model.PagedResponseVM.CurrentPage - 1)"
              >
                &lt;
              </a>
            </li>
              @for(var i=1; i < Model.PagedResponseVM.TotalPages+1; i++){ 
                @if(i == Model.PagedResponseVM.CurrentPage){
                  <li class="active"><span>@i</span></li>
                }else {
                  <li>
                    <a 
                      asp-area=""
                      asp-page="./ProductByCategory" 
                      asp-route-categoryName="@Model.PagedResponseVM.Search"
                      asp-route-pageIndex="@i"
                    >
                      @i
                    </a>
                  </li>
                } 
              }
            <li>
              <a
                class="@nextDisabled"
                asp-area=""
                asp-page="./ProductByCategory"
                asp-route-categoryName="@Model.PagedResponseVM.Search"
                asp-route-pageIndex="@(Model.PagedResponseVM.CurrentPage + 1)"
              >
                &gt;
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">
          Subcribe to our Newsletter
        </h2>
        <span>
          Get e-mail updates about our latest shops and special offers
        </span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email address"
            />
            <input type="submit" value="Subscribe" class="submit px-3" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
